.about {
  padding-bottom: 60px;
  background: #04ade4;
  color: #fff;
  text-align: center;

  &__container {
    @extend %container;
  }

  &__title {
    @include heading-white(46px);
    padding: 52px 0 36px;
    letter-spacing: 0.02em;
  }

  &__content {
    max-width: 90%;
    margin: 0 auto 8px;
  }

  &__text {
    font-family: $heliosc;
    font-size: 20px;
    line-height: 1.5;
  }

  &__list {
    margin-top: 8px;
    list-style-type: none;
  }

  &__item {
    @include breakpoint($xs $sm - 1) {
      max-width: 315px;
      margin-right: 0;
      margin-left: 0;
    }
    max-width: 320px;
    margin: 0 25px 40px;
    display: inline-block;
    vertical-align: top;
  }

  &__icon {
    display: inline-block;

    &--service {
      position: relative;
      top: 10px;
    }
  }

  &__img {
    width: 72px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
  }

  &__descr {
    display: inline-block;
    vertical-align: top;
    max-width: 225px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: solid 2px #4f4f4f;
    @include heading-white(30px);
    text-align: left;

    @include breakpoint($xs $sm - 1) {
      max-width: 221px;
      margin-left: 12px;
      font-size: 25px;
    }

    &--man {
      font-size: 26px;
    }

    &--service {
      font-size: 36px;
    }
  }
}


$list: lamp, shield, lorry, man, service, master;

@each $l in $list {
  .about__icon--#{$l} {
    @include s(#{$l});
  }
}
