.clients {
  padding: 50px 0 70px;
  background: #e0e0e0;
  text-align: center;

  &__container {
    @extend %container;
  }

  &__title {
    @include heading-gray(46px);
    margin-bottom: 75px;
    letter-spacing: 0.02em;

    @include breakpoint(max-width $mb) {
      font-size: 36px;
    }
  }

  &__list {
    display: inline-block;
  }

  &__item {
    width: 240px;
    margin: 15px 0 50px;
    display: inline-block;
    vertical-align: middle;

    @include breakpoint($xs $sm) {
      width: 32%;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
  }
}

$clients: mts, vega, reikartz, atb, uz, eva, prostor, brusnichka, abk, garvis;

@each $c in $clients {
  .clients__link--#{$c} {
    @include s(#{$c});
  }
}
