.jqmWindow {
  display: none;
  left: 50%;
  top: 20%;
  position: fixed;

  .jqmContentWrapper {
    background-color: #fff;
    padding: 10px;
    position: relative;
    left: -50%;

    > .jqmClose {
      display: block;
      width: 21px;
      height: 21px;
      position: absolute;
      z-index: 100;
      top: 2px;
      right: 2px;
      @include s(close);
    }
  }
}

.jqmOverlay {
  background-color: #000;
}

.jqmContent {
  position: relative;
  z-index: 1;
}

#popup-messages {
  .messages--status {
    background: none;
  }
  .messages {
    margin: 0;
    padding: 30px;
    border: none;
    color: #555454;
    font-family: $heliosc;
    font-size: 21px;
    text-align: center;
    line-height: 1.5;

    a {
      margin-top: 10px;
      color: #04ade4;
      font-size: 16px;
      &:hover {
        color: darken(#04ade4, 10%);
      }
    }
  }
}
