.navbar {
  background: #343434;

  // small screen
  position: absolute;
  z-index: 200;
  padding-left: 50px;

  // large screen
  @include breakpoint($lg) {
    position: fixed;
    width: 100%;
    height: 72px;
    padding: 0;
  }

  &__container {
    @extend %container;
    position: relative;
  }

  // large screen - logo
  &__logo {
    display: none;

    @include breakpoint($lg) {
      display: block;
      @include replace-text('logo.png');
      float: left;
      margin: 24px 50px 24px 0;
      width: 146px;
      height: 25px;
    }
  }

  &__trigger {
    display: none;

    &:checked {
      ~ .navbar__nav,
      ~ .navbar__subscribe {
        display: block;
      }
      ~ .navbar__feedback {
        display: inline-block;
      }
    }
  }

  // small screen - toggle
  &__toggle {
    display: block;
    @include s(toggle);
    position: absolute;
    top: 30px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
    @include breakpoint($lg) {
      display: none;
    }
  }

  &__nav {
    list-style-type: none;

    // small screen
    display: none;
    padding-top: 100px;

    // large screen
    @include breakpoint($lg) {
      display: block;
      @include span(9 of 16 nest);
      padding: 0;
    }
  }

  &__item {
    // small screen
    display: block;
    padding: 10px 20px 10px 0;

    // large screen
    @include breakpoint($lg) {
      display: inline-block;
      padding: 28px 0;
      width: 16%;
      text-align: center;
      border: none;
    }

    &--1 {
      @include breakpoint($lg) {
        width: 20%;
      }
    }
    &--2 {
      @include breakpoint($lg) {
        width: 24%;
      }
    }
    &--5 {
      @include breakpoint($lg) {
        margin-right: 0;
      }
    }
  }

  &__link {
    color: #fff;
    font-family: $heliosc-light;
    text-decoration: none;

    // small screen
    border-left: solid 2px #04ade4;
    padding-left: 20px;

    // large screen
    @include breakpoint($lg) {
      padding: 0;
      border: none;
    }

    &:hover {
      color: #04ade4;
      text-decoration: underline;
    }
  }

  &__feedback {
    // small screen
    display: none;
    padding: 0 20px;
    margin: 10px 0 15px;
    border-left: solid 2px #04ade4;

    // large screen
    @include breakpoint($lg) {
      display: block;
      position: absolute;
      right: 225px;
      margin: 0;
      padding: 30px 0 28px;
      border: none;
    }

    color: #04ade4;
    font-family: $heliosc;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__subscribe {
    display: none;
    padding: 10px 20px;

    @include breakpoint($lg) {
      display: block;
      float: right;
      padding: 28px 20px;
    }

    background: #04ade4;
    color: #fff;
    font-family: $heliosc-light;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
}
