.objects {
  text-align: center;

  &__title {
    @extend %heading-gray;
    margin-top: 50px;
  }

  &__content {
    padding: 50px 0 100px;
  }
}

.view-objects {

  .views-row {
    display: inline-block;
    max-width: 32.5%;
    position: relative;
    margin: 5px 0 5px 0.5%;
  }

  .views-field-body {
    position: absolute;
    bottom: 0;
    max-width: 78%;
    min-height: 110px;
    padding: 15px 5px 15px 10px;
    background: #2b2b2b;
    color: #fff;
    text-align: left;
    font-family: $heliosc-cond;
    letter-spacing: 0.01em;
    line-height: 1.25;
  }

  .views-row-1 {
    .views-field-body {
      border-right: solid 32px #4baf4f;
    }
  }

  .views-row-2 {
    .views-field-body {
      border-right: solid 32px #019587;
    }
  }

  .views-row-3 {
    .views-field-body {
      border-right: solid 32px #bac927;
    }
  }

  .views-row-4 {
    .views-field-body {
      border-right: solid 32px #f44236;
    }
  }

  .views-row-5 {
    .views-field-body {
      border-right: solid 32px #6739b6;
    }
  }

  .views-row-6 {
    .views-field-body {
      border-right: solid 32px #ff9700;
    }
  }

  img {
    vertical-align: top;
  }
}
