.block--views-objects-block {
  text-align: center;

  .block__title {
    @extend %heading-gray;
  }
}

.view-objects {

  .views-row {
    display: inline-block;
    max-width: 32.5%;
    position: relative;
    margin: 5px 0 5px 0.5%;
  }

  .views-field-body {
    position: absolute;
    bottom: 0;
    max-width: 60%;
    padding: 10px;
    background: #2b2b2b;
    color: #fff;
  }

  img {
    vertical-align: top;
  }
}
