@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.view-slider {
  position: relative;
  animation: fadein 2s;

  // stretch body to cover the image
  .views-field-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// background
.slider {
  width: 100%;
  height: 688px;
  background-repeat: no-repeat;
  background-position: center top;

  &__container {
    @include container;
    height: 100%;
    position: relative;
  }

  &__logo {
    background: image-url('logo-white.png') no-repeat;
    width: 351px;
    height: 61px;
    position: absolute;

    // small screen
    @include breakpoint($xs $lg - 1) {
      top: 15px!important;
      right: 20px!important;
      left: auto!important;
      bottom: auto!important;
      width: 250px;
      background-size: contain;
    }

    @include breakpoint(max-width $xs) {
      top: 15px!important;
      right: 20px!important;
      left: auto!important;
      bottom: auto!important;
      width: 200px;
      background-size: contain;
    }

    .views-row-1 & {
      background: image-url('logo-large.png') no-repeat;
      right: 40px;
      bottom: 85px;
    }
    .views-row-2 & {
      background: image-url('logo-medium.png') no-repeat;
      top: 510px;
      left: 140px;
    }
    .views-row-3 & {
      bottom: 140px;
    }
  }

  &__text {
    position: absolute;
    padding-left: 20px;
    font-family: $pobeda;
    font-weight: bold;
    border-left: solid 2px #fe6a36;
    line-height: 0.9;

    // small screen
    @include breakpoint(max-width $lg - 1) {
      top: 35%!important;
      left: 10%!important;
      bottom: auto!important;
    }

    .views-row-1 & {
      top: 20%;
      left: 36%;
    }
    .views-row-2 & {
      top: 17%;
      left: 8%;
    }
    .views-row-3 & {
      bottom: 75px;
      left: 30%;
      border-left: solid 2px #fff;
    }
  }

  &__row {

    &--1 {
      color: #02b2ec;
      font-size: 98px;
      letter-spacing: -0.015em;
      .views-row-1 & {
        color: #01abe3;
      }
      .views-row-2 & {
        color: #01abe3;
        font-size: 110px;
      }
      @include breakpoint(max-width $mb) {
        font-size: 64px;
      }
    }
    &--2 {
      font-size: 60px;
      color: #02b2ec;
      letter-spacing: -0.005em;
      .views-row-1 & {
        color: #595959;
      }
      .views-row-2 & {
        color: #fff;
        font-size: 72px;
      }

      @include breakpoint(max-width $mb) {
        font-size: 50px;
      }
    }
    &--3 {
      font-size: 43px;
      color: #fff;
      .views-row-1 & {
        color: #595959;
      }
      .views-row-2 & {
        font-size: 52px;
      }

      @include breakpoint(max-width $mb) {
        font-size: 30px;
      }
    }
  }
}

// stretch slide to full screen
.views_slideshow_slide {
  right: 0;
}

.views_slideshow_cycle_main {
  width: 100%;
}

// controls
.views-slideshow-controls-bottom {
  position: absolute;

  // small screen - single
  bottom: 100px;
  left: 60%;

  // large screen - double
  @include breakpoint($lg) {
    top: 45%;
    right: 0;
    left: 0;
  }
  z-index: 200;
}

// hide pause button
.views-slideshow-controls-text-pause {
  display: none;
}

%slider-control {
  display: block;
  width: 76px;
  height: 76px;
  &:hover {
    opacity: 0.9;
  }
}

// previous button
.views-slideshow-controls-text-previous {
  display: none;

  @include breakpoint($lg) {
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
  }

  a {
    @include replace-text('prev.png');
    @extend %slider-control;
  }
}

// next button
.views-slideshow-controls-text-next {
  position: absolute;
  top: 0;
  right: 20px;

  a {
    @include replace-text('down.png');
    @extend %slider-control;
    opacity: 0.6;

    @include breakpoint($lg) {
      @include replace-text('next.png');
      opacity: 1;
    }
  }
}

.views-field-body {
  @include container;
  position: relative;
}
