.subscribe {
  overflow: hidden;
  background: #04ade4;
  color: #fff;

  &__container {
    @extend %container;
  }

  &__left {
    width: 33.33333%;
    float: left;
    text-align: right;
    padding: 35px 35px 0 0;
  }

  &__form {
    width: 66.66667%;
    float: right;
    padding: 40px 0 50px 90px;
  }

  &__title {
    max-width: 300px;
    margin-bottom: 18px;
    margin-left: auto;
    font-family: $heliosc-cond;
    font-weight: bold;
    font-size: 36px;
    color: #4f4f4f;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  &__text {
    font-family: $heliosc-cond;
    font-size: 24px;
    color: #fff;
  }

  .form-item {
    display: inline-block;
    margin-right: 50px;
  }

  .form-actions {
    display: inline-block;
  }

  .form-text {
    max-width: 295px;
    margin-bottom: 8px;
    padding: 10px 10px 10px 15px;
    border-radius: 5px;
    font-family: $heliosc-cond;
    font-size: 20px;
    @include input-placeholder {
      color: #04ade4;
      font-style: italic;
    }
  }

  .form-submit {
    width: 295px;
    padding: 9px 0;
    background: #fe7646;
    color: #fff;
    font-family: $heliosc-light;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 5px;
    &:hover {
      background: darken(#fe7646, 10%);
    }
  }
}
