@mixin heading-gray($size) {
  font-family: $pobeda;
  font-weight: bold;
  font-size: $size;
  color: #2e2e2e;
}

@mixin heading-white($size) {
  font-family: $pobeda;
  font-weight: bold;
  font-size: $size;
  color: #fff;
}
