html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  line-height: 1;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  overflow: auto;
  tab-size: 4;
  white-space: pre-wrap;
}

button {
  overflow: visible;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

select {
  text-transform: none;
}

input {
  line-height: normal;
  -webkit-border-radius: 0;
  user-select: text;
}
input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="number"] {
  width: auto;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input, select, textarea {
  border-radius: 0;
  box-shadow: none;
}

textarea {
  overflow: auto;
  resize: none;
  user-select: text;
}

button, input, select[multiple], textarea {
  background-image: none;
}

[placeholder]:focus::placeholder {
  color: transparent;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

@font-face {
  font-family: "HeliosC";
  src: url('../fonts/HeliosC.eot');
  src: url('../fonts/HeliosC.eot?#iefix') format('embedded-opentype'), url('../fonts/HeliosC.woff') format('woff'), url('../fonts/HeliosC.ttf') format('truetype');
}
@font-face {
  font-family: "HeliosC";
  src: url('../fonts/HeliosC-Bold.eot');
  src: url('../fonts/HeliosC-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HeliosC-Bold.woff') format('woff'), url('../fonts/HeliosC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HeliosC";
  src: url('../fonts/HeliosC-Italic.eot');
  src: url('../fonts/HeliosC-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/HeliosC-Italic.woff') format('woff'), url('../fonts/HeliosC-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "HeliosCondC";
  src: url('../fonts/HeliosCondC.eot');
  src: url('../fonts/HeliosCondC.eot?#iefix') format('embedded-opentype'), url('../fonts/HeliosCondC.woff') format('woff'), url('../fonts/HeliosCondC.ttf') format('truetype');
}
@font-face {
  font-family: "HeliosCondC";
  src: url('../fonts/HeliosCondC-Bold.eot');
  src: url('../fonts/HeliosCondC-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HeliosCondC-Bold.woff') format('woff'), url('../fonts/HeliosCondC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HeliosLightC";
  src: url('../fonts/HeliosLightC.eot');
  src: url('../fonts/HeliosLightC.eot?#iefix') format('embedded-opentype'), url('../fonts/HeliosLightC.woff') format('woff'), url('../fonts/HeliosLightC.ttf') format('truetype');
}
@font-face {
  font-family: "Pobeda";
  src: url('../fonts/Pobeda-Regular.eot');
  src: url('../fonts/Pobeda-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Pobeda-Regular.woff') format('woff'), url('../fonts/Pobeda-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Pobeda";
  src: url('../fonts/Pobeda-Bold.eot');
  src: url('../fonts/Pobeda-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Pobeda-Bold.woff') format('woff'), url('../fonts/Pobeda-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.about__container, .clients__container, .contacts__container, .details__container, .industries__container, .navbar__container, .subscribe__container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}
.about__container:after, .clients__container:after, .contacts__container:after, .details__container:after, .industries__container:after, .navbar__container:after, .subscribe__container:after {
  content: " ";
  display: block;
  clear: both;
}

.about {
  padding-bottom: 60px;
  background: #04ade4;
  color: #fff;
  text-align: center;
}
.about__title {
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 46px;
  color: #fff;
  padding: 52px 0 36px;
  letter-spacing: 0.02em;
}
@media (max-width: 480px) {
  .about__title {
    font-size: 36px;
  }
}
.about__content {
  max-width: 90%;
  margin: 0 auto 8px;
}
.about__text {
  font-family: "HeliosC", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
@media (max-width: 480px) {
  .about__text {
    font-size: 16px;
  }
}
.about__list {
  margin-top: 8px;
  list-style-type: none;
}
.about__item {
  margin: 0 0 40px;
  max-width: 320px;
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 640px) and (max-width: 767px) {
  .about__item {
    max-width: 315px;
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .about__item {
    max-width: 320px;
    margin: 0 25px 40px;
  }
}
.about__icon {
  display: inline-block;
}
.about__icon--service {
  position: relative;
  top: 10px;
}
.about__img {
  width: 72px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.about__descr {
  display: inline-block;
  vertical-align: top;
  max-width: 225px;
  margin-left: 15px;
  padding-left: 15px;
  border-left: solid 2px #4f4f4f;
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  text-align: left;
}
@media (max-width: 480px) {
  .about__descr {
    font-size: 24px;
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  .about__descr {
    max-width: 221px;
    margin-left: 12px;
    font-size: 25px;
  }
}
.about__descr--man {
  font-size: 26px;
}
.about__descr--service {
  font-size: 36px;
}

.about__icon--lamp {
  background: url('../images/generated/icons-s1194e2f5c5.png') -111px -208px no-repeat;
  width: 55px;
  height: 56px;
}

.about__icon--shield {
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 0 no-repeat;
  width: 43px;
  height: 51px;
}

.about__icon--lorry {
  background: url('../images/generated/icons-s1194e2f5c5.png') -131px -64px no-repeat;
  width: 68px;
  height: 53px;
}

.about__icon--man {
  background: url('../images/generated/icons-s1194e2f5c5.png') -133px -267px no-repeat;
  width: 55px;
  height: 60px;
}

.about__icon--service {
  background: url('../images/generated/icons-s1194e2f5c5.png') -43px 0 no-repeat;
  width: 52px;
  height: 52px;
}

.about__icon--master {
  background: url('../images/generated/icons-s1194e2f5c5.png') -39px -208px no-repeat;
  width: 72px;
  height: 55px;
}

.clients {
  padding: 50px 0 70px;
  background: #e0e0e0;
  text-align: center;
}
.clients__title {
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 46px;
  color: #2e2e2e;
  margin-bottom: 75px;
  letter-spacing: 0.02em;
}
@media (max-width: 480px) {
  .clients__title {
    font-size: 36px;
  }
}
.clients__list {
  display: inline-block;
}
.clients__item {
  width: 240px;
  margin: 15px 0 50px;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 640px) and (max-width: 768px) {
  .clients__item {
    width: 32%;
  }
}
.clients__link {
  display: inline-block;
  text-decoration: none;
}

.clients__link--mts {
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 -586px no-repeat;
  width: 146px;
  height: 78px;
}

.clients__link--vega {
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 -327px no-repeat;
  width: 181px;
  height: 59px;
}

.clients__link--reikartz {
  background: url('../images/generated/icons-s1194e2f5c5.png') -96px -828px no-repeat;
  width: 102px;
  height: 108px;
}

.clients__link--atb {
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 -828px no-repeat;
  width: 96px;
  height: 96px;
}

.clients__link--uz {
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 -664px no-repeat;
  width: 181px;
  height: 82px;
}

.clients__link--eva {
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 -746px no-repeat;
  width: 137px;
  height: 82px;
}

.clients__link--prostor {
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 -457px no-repeat;
  width: 179px;
  height: 64px;
}

.clients__link--brusnichka {
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 -162px no-repeat;
  width: 178px;
  height: 46px;
}

.clients__link--abk {
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 -521px no-repeat;
  width: 135px;
  height: 65px;
}

.clients__link--garvis {
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 -117px no-repeat;
  width: 222px;
  height: 45px;
}

.contacts {
  padding: 60px 0;
  background: #404040;
}
.contacts__container {
  position: relative;
}
.contacts__title {
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 46px;
  color: #fff;
  margin-bottom: 75px;
  letter-spacing: 0.02em;
  text-align: center;
}
@media (max-width: 480px) {
  .contacts__title {
    font-size: 36px;
  }
}
.contacts__left {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.25%;
  float: left;
  padding-left: 0.625%;
  padding-right: 0.625%;
}
@media (max-width: 1024px) {
  .contacts__left {
    float: none;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
  }
}
.contacts__right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 68.75%;
  float: right;
  padding-left: 0.625%;
  padding-right: 0.625%;
}
@media (max-width: 1024px) {
  .contacts__right {
    float: none;
    width: 95%;
    clear: both;
    margin: 0 auto;
  }
}
.contacts__map {
  position: relative;
  padding-bottom: 58%;
  height: 0;
  overflow: hidden;
}
.contacts__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.contacts__card {
  margin-bottom: 50px;
  max-width: 310px;
  padding-left: 15px;
  border-left: solid 2px #04ade4;
  color: #fff;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
@media (max-width: 639px) {
  .contacts__card--1, .contacts__card--3 {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .contacts__card--1, .contacts__card--3 {
    float: left;
    clear: left;
    width: 290px;
  }
}
@media (max-width: 639px) {
  .contacts__card--2, .contacts__card--4 {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .contacts__card--2, .contacts__card--4 {
    float: right;
    clear: right;
    width: 290px;
  }
}
.contacts__card--5 {
  margin-bottom: 0;
}
@media (max-width: 479px) {
  .contacts__card--5 {
    position: absolute;
    bottom: 80px;
    left: 10%;
  }
}
@media (min-width: 480px) and (max-width: 639px) {
  .contacts__card--5 {
    position: absolute;
    bottom: 80px;
    left: 25%;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .contacts__card--5 {
    position: absolute;
    bottom: 0;
  }
}
.contacts__tel {
  font-weight: bold;
}
.contacts__bottom {
  clear: both;
  padding-top: 40px;
}
.contacts__eshop {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  margin: 20px 0 0 20px;
  color: #fff;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 19px;
  text-decoration: none;
  letter-spacing: 0.03em;
}
@media (max-width: 639px) {
  .contacts__eshop {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 50px;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .contacts__eshop {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.contacts__eshop > span {
  border-bottom: solid 1px #fff;
  margin-left: -4px;
}
.contacts__eshop > b {
  position: relative;
  z-index: 1;
  left: -5px;
  padding-left: 3px;
  color: #04ade4;
  border-bottom: solid 1px #04ade4;
}
.contacts__eshop:hover {
  color: #04ade4;
}
.contacts__eshop:hover span {
  border-bottom: solid 1px #04ade4;
}
.contacts__social {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}
@media (max-width: 639px) {
  .contacts__social {
    display: block;
    width: 100%;
    position: relative;
    top: 80px;
    padding: 0;
    text-align: center;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .contacts__social {
    display: block;
    width: 100%;
    position: relative;
    top: 60px;
    text-align: center;
  }
}
.contacts__sochead {
  display: inline-block;
  margin-right: 10px;
  padding-left: 10px;
  vertical-align: top;
  border-left: solid 15px #04ade4;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #fff;
  line-height: 2;
  letter-spacing: 0.02em;
}
@media (max-width: 639px) {
  .contacts__sochead {
    margin: 0;
    display: block;
    border-left: none;
  }
}
.contacts__link {
  display: inline-block;
  margin: 0 18px;
  text-decoration: none;
}
.contacts__link:hover {
  opacity: 0.9;
}
.contacts__link--facebook {
  background: url('../images/generated/icons-s1194e2f5c5.png') -52px -64px no-repeat;
  width: 40px;
  height: 39px;
}
.contacts__link--vkontakte {
  background: url('../images/generated/icons-s1194e2f5c5.png') -92px -64px no-repeat;
  width: 39px;
  height: 39px;
}
.contacts__link--google {
  background: url('../images/generated/icons-s1194e2f5c5.png') -178px -162px no-repeat;
  width: 39px;
  height: 39px;
}
.contacts__link--instagram {
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 -208px no-repeat;
  width: 39px;
  height: 39px;
}

.details {
  padding: 20px;
  background: #404040;
  color: #c1c1c1;
  font-size: 16px;
  line-height: 1.25;
}
.details__container {
  max-width: 768px;
}
.details__content {
  position: relative;
}
.details__content--half-shown {
  height: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details__title {
  margin: 16px 0;
  color: #e1e1e1;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.details__subtitle {
  color: #e1e1e1;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
.details__list {
  margin: 16px 0;
  padding-left: 20px;
}
.details__text {
  margin: 16px 0;
}
.details__expand {
  display: block;
  margin-top: 20px;
  color: #04ade4;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 19px;
}

.industries {
  background: #fff;
  padding: 50px 0 60px 0;
  text-align: center;
}
.industries__title {
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 46px;
  color: #2e2e2e;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
}
@media (max-width: 480px) {
  .industries__title {
    font-size: 36px;
  }
}
.industries__list {
  list-style-type: none;
  text-align: center;
}
.industries__item {
  width: 45%;
  margin: 0 0 12px;
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 768px) {
  .industries__item {
    width: 310px;
  }
}
.industries__item:hover {
  background: #dedede;
}
.industries__link {
  display: block;
  padding: 20px 0;
  text-decoration: none;
}
.industries__disc {
  display: inline-block;
  text-align: center;
  margin-bottom: 12px;
  width: 131px;
  height: 131px;
  line-height: 131px;
  border-radius: 50%;
}
.industries__disc--turbine {
  background: #f44236;
}
.industries__disc--condition {
  background: #019587;
}
.industries__disc--collector {
  background: #ff9700;
}
.industries__disc--appliance {
  background: #bac927;
}
.industries__disc--radiator {
  background: #4baf4f;
}
.industries__disc--convector {
  background: #6739b6;
}
.industries__disc--tv {
  background: #04ade4;
}
.industries__disc--builtin {
  background: #bb3baa;
}
.industries__icon {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.industries__icon--collector {
  position: relative;
  top: -5px;
}
.industries__itemname {
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #2e2e2e;
  max-width: 250px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .industries__itemname {
    font-size: 24px;
  }
}
.industries__itemname--builtin {
  max-width: 220px;
}
.industries__descr {
  max-width: 210px;
  margin: 8px auto 0;
  padding-top: 12px;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.1;
  color: #656565;
}
@media (max-width: 767px) {
  .industries__descr {
    display: none;
  }
}
.industries__descr--turbine {
  border-top: solid 2px #f44236;
}
.industries__descr--condition {
  border-top: solid 2px #019587;
}
.industries__descr--collector {
  border-top: solid 2px #ff9700;
}
.industries__descr--appliance {
  border-top: solid 2px #bac927;
}
.industries__descr--radiator {
  border-top: solid 2px #4baf4f;
}
.industries__descr--convector {
  border-top: solid 2px #6739b6;
}
.industries__descr--tv {
  border-top: solid 2px #04ade4;
}
.industries__descr--builtin {
  border-top: solid 2px #bb3baa;
}

.industries__icon--turbine {
  background: url('../images/generated/icons-s1194e2f5c5.png') -73px -267px no-repeat;
  width: 60px;
  height: 60px;
}

.industries__icon--condition {
  background: url('../images/generated/icons-s1194e2f5c5.png') -64px -386px no-repeat;
  width: 68px;
  height: 68px;
}

.industries__icon--collector {
  background: url('../images/generated/icons-s1194e2f5c5.png') -132px -386px no-repeat;
  width: 71px;
  height: 71px;
}

.industries__icon--appliance {
  background: url('../images/generated/icons-s1194e2f5c5.png') -166px -208px no-repeat;
  width: 52px;
  height: 59px;
}

.industries__icon--radiator {
  background: url('../images/generated/icons-s1194e2f5c5.png') -135px -521px no-repeat;
  width: 54px;
  height: 63px;
}

.industries__icon--convector {
  background: url('../images/generated/icons-s1194e2f5c5.png') -95px 0 no-repeat;
  width: 41px;
  height: 64px;
}

.industries__icon--tv {
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 -267px no-repeat;
  width: 73px;
  height: 55px;
}

.industries__icon--builtin {
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 -386px no-repeat;
  width: 64px;
  height: 64px;
}

.jqmWindow {
  display: none;
  left: 50%;
  top: 20%;
  position: fixed;
}
.jqmWindow .jqmContentWrapper {
  background-color: #fff;
  padding: 10px;
  position: relative;
  left: -50%;
}
.jqmWindow .jqmContentWrapper > .jqmClose {
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  z-index: 100;
  top: 2px;
  right: 2px;
  background: url('../images/generated/icons-s1194e2f5c5.png') 0 -64px no-repeat;
  width: 12px;
  height: 12px;
}

.jqmOverlay {
  background-color: #000;
}

.jqmContent {
  position: relative;
  z-index: 1;
}

#popup-messages .messages--status {
  background: none;
}
#popup-messages .messages {
  margin: 0;
  padding: 30px;
  border: none;
  color: #555454;
  font-family: "HeliosC", Helvetica, Arial, sans-serif;
  font-size: 21px;
  text-align: center;
  line-height: 1.5;
}
#popup-messages .messages a {
  margin-top: 10px;
  color: #04ade4;
  font-size: 16px;
}
#popup-messages .messages a:hover {
  color: #0387b2;
}

.modal {
  padding: 40px;
  max-width: 415px;
}
@media (min-width: 1600px) {
  .modal {
    max-width: 760px;
  }
}
.modal .form-item {
  display: inline-block;
  margin: 20px;
}
.modal .form-actions {
  display: inline-block;
}
.modal .form-text {
  max-width: 295px;
  padding: 9px 9px 9px 15px;
  border-radius: 5px;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 20px;
  border: solid 1px #c7c7c7;
}
.modal .form-text:-moz-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-text::-moz-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-text:-ms-input-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-text::-webkit-input-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-textarea {
  max-width: 295px;
  padding: 9px 9px 9px 15px;
  border-radius: 5px;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 20px;
  border: solid 1px #c7c7c7;
}
.modal .form-textarea:-moz-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-textarea::-moz-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-textarea:-ms-input-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-textarea::-webkit-input-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-submit {
  width: 295px;
  margin: 20px;
  padding: 9px 0;
  background: #fe7646;
  color: #fff;
  font-family: "HeliosLightC", Helvetica, Arial, sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 5px;
}
.modal .form-submit:hover {
  background: #fe5013;
}

.webform-client-form-12 .webform-component--message {
  position: absolute;
  top: 280px;
}
@media (min-width: 1600px) {
  .webform-client-form-12 .webform-component--message {
    float: right;
    position: static;
  }
}
.webform-client-form-12 .webform-component--email {
  float: left;
}
.webform-client-form-12 .form-actions {
  margin-top: 150px;
}
@media (min-width: 1600px) {
  .webform-client-form-12 .form-actions {
    float: right;
    margin: 0;
  }
}

.navbar {
  background: #343434;
  position: absolute;
  z-index: 200;
  padding-left: 20px;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .navbar {
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .navbar {
    position: fixed;
    width: 100%;
    height: 72px;
    padding: 0;
  }
}
.navbar__container {
  position: relative;
}
.navbar__logo {
  display: none;
}
@media (min-width: 1200px) {
  .navbar__logo {
    display: block;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: left;
    margin: 24px 50px 24px 0;
    width: 146px;
    height: 25px;
  }
}
.navbar__trigger {
  display: none;
}
.navbar__trigger:checked ~ .navbar__nav,
.navbar__trigger:checked ~ .navbar__subscribe {
  display: block;
}
.navbar__trigger:checked ~ .navbar__feedback {
  display: inline-block;
}
.navbar__toggle {
  display: block;
  background: url('../images/generated/icons-s1194e2f5c5.png') -136px 0 no-repeat;
  width: 67px;
  height: 44px;
  position: absolute;
  top: 20px;
  text-decoration: none;
  cursor: pointer;
}
.navbar__toggle:hover {
  opacity: 0.5;
}
@media (max-width: 640px) {
  .navbar__toggle {
    background: url('../images/generated/icons-s1194e2f5c5.png') -12px -64px no-repeat;
    width: 40px;
    height: 26px;
  }
}
@media (min-width: 1200px) {
  .navbar__toggle {
    display: none;
  }
}
.navbar__nav {
  list-style-type: none;
  display: none;
  padding-top: 100px;
}
@media (min-width: 1200px) {
  .navbar__nav {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 56.25%;
    float: left;
    padding: 0;
  }
}
.navbar__item {
  display: block;
  padding: 10px 20px 10px 0;
}
@media (min-width: 1200px) {
  .navbar__item {
    display: inline-block;
    padding: 28px 0;
    width: 16%;
    text-align: center;
    border: none;
  }
}
@media (min-width: 1200px) {
  .navbar__item--1 {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .navbar__item--2 {
    width: 24%;
  }
}
@media (min-width: 1200px) {
  .navbar__item--5 {
    margin-right: 0;
  }
}
.navbar__link {
  color: #fff;
  font-family: "HeliosLightC", Helvetica, Arial, sans-serif;
  text-decoration: none;
  border-left: solid 2px #04ade4;
  padding-left: 20px;
}
@media (min-width: 1200px) {
  .navbar__link {
    padding: 0;
    border: none;
  }
}
.navbar__link:hover {
  color: #04ade4;
  text-decoration: underline;
}
.navbar__feedback {
  display: none;
  padding: 0 20px;
  margin: 10px 0 15px;
  border-left: solid 2px #04ade4;
  color: #04ade4;
  font-family: "HeliosC", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .navbar__feedback {
    display: block;
    position: absolute;
    right: 225px;
    margin: 0;
    padding: 30px 0 28px;
    border: none;
  }
}
.navbar__feedback:hover {
  text-decoration: underline;
}
.navbar__subscribe {
  display: none;
  padding: 10px 20px;
  background: #04ade4;
  color: #fff;
  font-family: "HeliosLightC", Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .navbar__subscribe {
    display: block;
    float: right;
    padding: 28px 20px;
  }
}
.navbar__subscribe:hover {
  text-decoration: underline;
}

.objects {
  text-align: center;
  padding: 56px 0 155px;
}
@media (max-width: 640px) {
  .objects {
    padding-bottom: 100px;
  }
}
.objects__title {
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 46px;
  color: #2e2e2e;
  letter-spacing: 0.02em;
}
@media (max-width: 480px) {
  .objects__title {
    font-size: 36px;
  }
}
.objects__content {
  padding-top: 65px;
}

.view-objects .views-row {
  display: inline-block;
  position: relative;
  margin: 5px 0 5px 0.5%;
}
@media (max-width: 480px) {
  .view-objects .views-row {
    width: 305px;
  }
}
@media (min-width: 640px) and (max-width: 850px) {
  .view-objects .views-row {
    width: 305px;
  }
}
.view-objects .views-field-body {
  position: absolute;
  bottom: 0;
  max-width: 78%;
  min-height: 110px;
  padding: 15px 5px 15px 10px;
  background: #2b2b2b;
  color: #fff;
  text-align: left;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.25;
}
@media (max-width: 480px) {
  .view-objects .views-field-body {
    max-width: 100%;
    border: none !important;
    text-align: center;
  }
}
@media (min-width: 640px) and (max-width: 850px) {
  .view-objects .views-field-body {
    max-width: 100%;
    border: none !important;
    text-align: center;
  }
}
.view-objects .views-row-1 .views-field-body {
  border-right: solid 32px #4baf4f;
}
.view-objects .views-row-2 .views-field-body {
  border-right: solid 32px #019587;
}
.view-objects .views-row-3 .views-field-body {
  border-right: solid 32px #bac927;
}
.view-objects .views-row-4 .views-field-body {
  border-right: solid 32px #f44236;
}
.view-objects .views-row-5 .views-field-body {
  border-right: solid 32px #6739b6;
}
.view-objects .views-row-6 .views-field-body {
  border-right: solid 32px #ff9700;
}
.view-objects img {
  vertical-align: top;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.view-slider {
  position: relative;
  animation: fadein 2s;
}
.view-slider .views-field-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slider {
  width: 100%;
  height: 688px;
  background-repeat: no-repeat;
  background-position: center top;
}
.slider__container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: relative;
}
.slider__container:after {
  content: " ";
  display: block;
  clear: both;
}
.slider__logo {
  background: url('../images/logo-white.png') no-repeat;
  width: 351px;
  height: 61px;
  position: absolute;
}
@media (min-width: 640px) and (max-width: 1199px) {
  .slider__logo {
    top: 15px !important;
    right: 20px !important;
    left: auto !important;
    bottom: auto !important;
    width: 250px;
    background-size: contain;
  }
}
@media (max-width: 640px) {
  .slider__logo {
    top: 15px !important;
    right: 20px !important;
    left: auto !important;
    bottom: auto !important;
    width: 200px;
    background-size: contain;
  }
}
.views-row-1 .slider__logo {
  background: url('../images/logo-large.png') no-repeat;
  right: 40px;
  bottom: 85px;
}
@media (max-width: 1199px) {
  .views-row-1 .slider__logo {
    background-size: contain;
  }
}
.views-row-2 .slider__logo {
  background: url('../images/logo-medium.png') no-repeat;
  top: 510px;
  left: 140px;
}
@media (max-width: 1199px) {
  .views-row-2 .slider__logo {
    background-size: contain;
  }
}
.views-row-3 .slider__logo {
  bottom: 140px;
}
.slider__text {
  position: absolute;
  padding-left: 20px;
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-left: solid 2px #fe6a36;
  line-height: 0.9;
}
@media (max-width: 1199px) {
  .slider__text {
    top: 35% !important;
    left: 10% !important;
    bottom: auto !important;
  }
}
.views-row-1 .slider__text {
  top: 20%;
  left: 36%;
}
.views-row-2 .slider__text {
  top: 17%;
  left: 8%;
}
.views-row-3 .slider__text {
  bottom: 75px;
  left: 30%;
  border-left: solid 2px #fff;
}
.slider__row--1 {
  color: #02b2ec;
  font-size: 98px;
  letter-spacing: -0.015em;
}
.views-row-1 .slider__row--1 {
  color: #01abe3;
}
.views-row-2 .slider__row--1 {
  color: #01abe3;
  font-size: 110px;
}
@media (max-width: 480px) {
  .views-row-2 .slider__row--1 {
    font-size: 64px;
  }
}
@media (max-width: 480px) {
  .slider__row--1 {
    font-size: 64px;
  }
}
.slider__row--2 {
  font-size: 60px;
  color: #02b2ec;
  letter-spacing: -0.005em;
}
.views-row-1 .slider__row--2 {
  color: #595959;
}
.views-row-2 .slider__row--2 {
  color: #fff;
  font-size: 72px;
}
@media (max-width: 480px) {
  .views-row-2 .slider__row--2 {
    font-size: 50px;
  }
}
@media (max-width: 480px) {
  .slider__row--2 {
    font-size: 50px;
  }
}
.slider__row--3 {
  font-size: 43px;
  color: #fff;
}
.views-row-1 .slider__row--3 {
  color: #595959;
}
.views-row-2 .slider__row--3 {
  font-size: 52px;
}
@media (max-width: 480px) {
  .views-row-2 .slider__row--3 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .slider__row--3 {
    font-size: 30px;
  }
}

.views_slideshow_slide {
  right: 0;
}

.views_slideshow_cycle_main {
  width: 100%;
}

.views-slideshow-controls-bottom {
  position: absolute;
  bottom: 100px;
  left: 60%;
  z-index: 200;
}
@media (min-width: 1200px) {
  .views-slideshow-controls-bottom {
    top: 45%;
    right: 0;
    left: 0;
  }
}

.views-slideshow-controls-text-pause {
  display: none;
}

.views-slideshow-controls-text-previous a, .views-slideshow-controls-text-next a {
  display: block;
  width: 76px;
  height: 76px;
}
.views-slideshow-controls-text-previous a:hover, .views-slideshow-controls-text-next a:hover {
  opacity: 0.9;
}

.views-slideshow-controls-text-previous {
  display: none;
}
@media (min-width: 1200px) {
  .views-slideshow-controls-text-previous {
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
  }
}
.views-slideshow-controls-text-previous a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../images/prev.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.views-slideshow-controls-text-next {
  position: absolute;
  top: 0;
  right: 20px;
}
.views-slideshow-controls-text-next a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../images/down.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.6;
}
@media (min-width: 1200px) {
  .views-slideshow-controls-text-next a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    background-image: url('../images/next.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 1;
  }
}

.views-field-body {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.views-field-body:after {
  content: " ";
  display: block;
  clear: both;
}

.subscribe {
  overflow: hidden;
  background: #04ade4;
  color: #fff;
}
.subscribe__left {
  width: 33.33333%;
  float: left;
  text-align: right;
  padding: 35px 35px 0 0;
}
@media (max-width: 1199px) {
  .subscribe__left {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.subscribe__toggle {
  display: none;
}
@media (max-width: 1199px) {
  .subscribe__toggle {
    display: inline-block;
    margin-bottom: 50px;
    padding: 15px 20px;
    background: #fe7646;
    color: #fff;
    font-family: "HeliosLightC", Helvetica, Arial, sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
  }
  .subscribe__toggle:hover {
    background: #fe5013;
  }
}
.subscribe__form {
  width: 66.66667%;
  float: right;
  padding: 40px 0 36px 90px;
}
@media (max-width: 1199px) {
  .subscribe__form {
    display: none;
  }
}
.subscribe__title {
  max-width: 300px;
  margin-bottom: 18px;
  margin-left: auto;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #4f4f4f;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
@media (max-width: 1199px) {
  .subscribe__title {
    margin-right: auto;
  }
}
.subscribe__text {
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #fff;
}
@media (max-width: 1199px) {
  .subscribe__text {
    display: none;
  }
}
.subscribe .form-item {
  display: inline-block;
  margin-right: 50px;
}
.subscribe .form-actions {
  display: inline-block;
}
.subscribe .form-text {
  max-width: 295px;
  margin-bottom: 8px;
  padding: 10px 10px 10px 15px;
  border-radius: 5px;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 20px;
}
.subscribe .form-text:-moz-placeholder {
  color: #04ade4;
  font-style: italic;
}
.subscribe .form-text::-moz-placeholder {
  color: #04ade4;
  font-style: italic;
}
.subscribe .form-text:-ms-input-placeholder {
  color: #04ade4;
  font-style: italic;
}
.subscribe .form-text::-webkit-input-placeholder {
  color: #04ade4;
  font-style: italic;
}
.subscribe .form-submit {
  width: 295px;
  padding: 9px 0;
  background: #fe7646;
  color: #fff;
  font-family: "HeliosLightC", Helvetica, Arial, sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 5px;
}
.subscribe .form-submit:hover {
  background: #fe5013;
}

body {
  min-width: 320px;
}
