html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  line-height: 1;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  overflow: auto;
  tab-size: 4;
  white-space: pre-wrap;
}

button {
  overflow: visible;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

select {
  text-transform: none;
}

input {
  line-height: normal;
  -webkit-border-radius: 0;
  user-select: text;
}
input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="number"] {
  width: auto;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input, select, textarea {
  border-radius: 0;
  box-shadow: none;
}

textarea {
  overflow: auto;
  resize: none;
  user-select: text;
}

button, input, select[multiple], textarea {
  background-image: none;
}

[placeholder]:focus::placeholder {
  color: transparent;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

@font-face {
  font-family: "HeliosC";
  src: url('../fonts/HeliosC.eot?1450764735');
  src: url('../fonts/HeliosC.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/HeliosC.woff?1450764735') format('woff'), url('../fonts/HeliosC.ttf?1450764735') format('truetype');
}
@font-face {
  font-family: "HeliosC";
  src: url('../fonts/HeliosC-Bold.eot?1450764735');
  src: url('../fonts/HeliosC-Bold.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/HeliosC-Bold.woff?1450764735') format('woff'), url('../fonts/HeliosC-Bold.ttf?1450764735') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HeliosC";
  src: url('../fonts/HeliosC-Italic.eot?1450764735');
  src: url('../fonts/HeliosC-Italic.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/HeliosC-Italic.woff?1450764735') format('woff'), url('../fonts/HeliosC-Italic.ttf?1450764735') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "HeliosCondC";
  src: url('../fonts/HeliosCondC.eot?1450764735');
  src: url('../fonts/HeliosCondC.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/HeliosCondC.woff?1450764735') format('woff'), url('../fonts/HeliosCondC.ttf?1450764735') format('truetype');
}
@font-face {
  font-family: "HeliosCondC";
  src: url('../fonts/HeliosCondC-Bold.eot?1450764735');
  src: url('../fonts/HeliosCondC-Bold.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/HeliosCondC-Bold.woff?1450764735') format('woff'), url('../fonts/HeliosCondC-Bold.ttf?1450764735') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HeliosLightC";
  src: url('../fonts/HeliosLightC.eot?1450764735');
  src: url('../fonts/HeliosLightC.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/HeliosLightC.woff?1450764735') format('woff'), url('../fonts/HeliosLightC.ttf?1450764735') format('truetype');
}
@font-face {
  font-family: "Pobeda";
  src: url('../fonts/Pobeda-Regular.eot?1450764735');
  src: url('../fonts/Pobeda-Regular.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/Pobeda-Regular.woff?1450764735') format('woff'), url('../fonts/Pobeda-Regular.ttf?1450764735') format('truetype');
}
@font-face {
  font-family: "Pobeda";
  src: url('../fonts/Pobeda-Bold.eot?1450764735');
  src: url('../fonts/Pobeda-Bold.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/Pobeda-Bold.woff?1450764735') format('woff'), url('../fonts/Pobeda-Bold.ttf?1450764735') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.clients__container, .navbar__container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}
.clients__container:after, .navbar__container:after {
  content: " ";
  display: block;
  clear: both;
}

.clients__title, .objects__title {
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 46px;
  color: #2e2e2e;
}

.clients {
  padding-top: 50px;
  background: #e0e0e0;
  text-align: center;
}
.clients__title {
  margin-bottom: 75px;
}
.clients__list {
  display: inline-block;
}
.clients__item {
  width: 240px;
  margin-bottom: 40px;
  display: inline-block;
  vertical-align: middle;
}
.clients__link {
  display: inline-block;
  text-decoration: none;
}

.clients__link--mts {
  background: url('../images/generated/icons-s587b3ccc87.png') 0 -279px no-repeat;
  width: 146px;
  height: 78px;
}

.clients__link--vega {
  background: url('../images/generated/icons-s587b3ccc87.png') 0 -91px no-repeat;
  width: 181px;
  height: 59px;
}

.clients__link--reikartz {
  background: url('../images/generated/icons-s587b3ccc87.png') -96px -521px no-repeat;
  width: 102px;
  height: 108px;
}

.clients__link--atb {
  background: url('../images/generated/icons-s587b3ccc87.png') 0 -521px no-repeat;
  width: 96px;
  height: 96px;
}

.clients__link--uz {
  background: url('../images/generated/icons-s587b3ccc87.png') 0 -357px no-repeat;
  width: 181px;
  height: 82px;
}

.clients__link--eva {
  background: url('../images/generated/icons-s587b3ccc87.png') 0 -439px no-repeat;
  width: 137px;
  height: 82px;
}

.clients__link--prostor {
  background: url('../images/generated/icons-s587b3ccc87.png') 0 -150px no-repeat;
  width: 179px;
  height: 64px;
}

.clients__link--brusnichka {
  background: url('../images/generated/icons-s587b3ccc87.png') 0 -45px no-repeat;
  width: 178px;
  height: 46px;
}

.clients__link--abk {
  background: url('../images/generated/icons-s587b3ccc87.png') 0 -214px no-repeat;
  width: 135px;
  height: 65px;
}

.clients__link--garvis {
  background: url('../images/generated/icons-s587b3ccc87.png') 0 0 no-repeat;
  width: 222px;
  height: 45px;
}

.navbar {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 72px;
  background: #343434;
}
.navbar__logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../images/logo.png?1450764735');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  float: left;
  margin: 24px 30px 24px 0;
  width: 146px;
  height: 25px;
}
.navbar__nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  list-style-type: none;
}
.navbar__item {
  float: left;
  margin: 0 25px;
  padding: 28px 0;
  text-align: center;
}
.navbar__link {
  color: #fff;
  font-family: "HeliosLightC", Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.navbar__link:hover {
  color: #04ade4;
  text-decoration: underline;
}
.navbar__feedback {
  float: right;
  margin-right: 35px;
  padding: 28px 0;
  color: #04ade4;
  font-family: "HeliosC", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.navbar__feedback:hover {
  text-decoration: underline;
}
.navbar__subscribe {
  float: right;
  padding: 28px 20px;
  background: #04ade4;
  color: #fff;
  font-family: "HeliosLightC", Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar__subscribe:hover {
  text-decoration: underline;
}

.objects {
  text-align: center;
}
.objects__title {
  margin-top: 50px;
}
.objects__content {
  padding: 50px 0 100px;
}

.view-objects .views-row {
  display: inline-block;
  max-width: 32.5%;
  position: relative;
  margin: 5px 0 5px 0.5%;
}
.view-objects .views-field-body {
  position: absolute;
  bottom: 0;
  max-width: 78%;
  min-height: 110px;
  padding: 15px 5px 15px 10px;
  background: #2b2b2b;
  color: #fff;
  text-align: left;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.25;
}
.view-objects .views-row-1 .views-field-body {
  border-right: solid 32px #4baf4f;
}
.view-objects .views-row-2 .views-field-body {
  border-right: solid 32px #019587;
}
.view-objects .views-row-3 .views-field-body {
  border-right: solid 32px #bac927;
}
.view-objects .views-row-4 .views-field-body {
  border-right: solid 32px #f44236;
}
.view-objects .views-row-5 .views-field-body {
  border-right: solid 32px #6739b6;
}
.view-objects .views-row-6 .views-field-body {
  border-right: solid 32px #ff9700;
}
.view-objects img {
  vertical-align: top;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.view-slider {
  position: relative;
  animation: fadein 2s;
}
.view-slider .views-field-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slider {
  width: 100%;
  height: 688px;
  background-repeat: no-repeat;
  background-position: center top;
}
.slider__container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: relative;
}
.slider__container:after {
  content: " ";
  display: block;
  clear: both;
}
.slider__logo {
  background: url('../images/logo-white.png?1450765282') no-repeat;
  width: 351px;
  height: 61px;
  position: absolute;
}
.views-row-1 .slider__logo {
  right: 60px;
  bottom: 60px;
}
.views-row-2 .slider__logo {
  top: 300px;
  left: 20px;
}
.views-row-3 .slider__logo {
  bottom: 100px;
}

.views_slideshow_slide {
  right: 0;
}

.views_slideshow_cycle_main {
  width: 100%;
}

.views-slideshow-controls-bottom {
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
  z-index: 200;
}

.views-slideshow-controls-text-pause {
  display: none;
}

.views-slideshow-controls-text-previous a, .views-slideshow-controls-text-next a {
  display: block;
  width: 76px;
  height: 76px;
}

.views-slideshow-controls-text-previous {
  position: absolute;
  top: 0;
  left: 20px;
}
.views-slideshow-controls-text-previous a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../images/prev.png?1441543001');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.views-slideshow-controls-text-next {
  position: absolute;
  top: 0;
  right: 20px;
}
.views-slideshow-controls-text-next a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../images/next.png?1441542781');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
