html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  line-height: 1;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  overflow: auto;
  tab-size: 4;
  white-space: pre-wrap;
}

button {
  overflow: visible;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

select {
  text-transform: none;
}

input {
  line-height: normal;
  -webkit-border-radius: 0;
  user-select: text;
}
input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="number"] {
  width: auto;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input, select, textarea {
  border-radius: 0;
  box-shadow: none;
}

textarea {
  overflow: auto;
  resize: none;
  user-select: text;
}

button, input, select[multiple], textarea {
  background-image: none;
}

[placeholder]:focus::placeholder {
  color: transparent;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

@font-face {
  font-family: "HeliosC";
  src: url('../fonts/HeliosC.eot?1450764735');
  src: url('../fonts/HeliosC.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/HeliosC.woff?1450764735') format('woff'), url('../fonts/HeliosC.ttf?1450764735') format('truetype');
}
@font-face {
  font-family: "HeliosC";
  src: url('../fonts/HeliosC-Bold.eot?1450764735');
  src: url('../fonts/HeliosC-Bold.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/HeliosC-Bold.woff?1450764735') format('woff'), url('../fonts/HeliosC-Bold.ttf?1450764735') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HeliosC";
  src: url('../fonts/HeliosC-Italic.eot?1450764735');
  src: url('../fonts/HeliosC-Italic.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/HeliosC-Italic.woff?1450764735') format('woff'), url('../fonts/HeliosC-Italic.ttf?1450764735') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "HeliosCondC";
  src: url('../fonts/HeliosCondC.eot?1450764735');
  src: url('../fonts/HeliosCondC.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/HeliosCondC.woff?1450764735') format('woff'), url('../fonts/HeliosCondC.ttf?1450764735') format('truetype');
}
@font-face {
  font-family: "HeliosCondC";
  src: url('../fonts/HeliosCondC-Bold.eot?1450764735');
  src: url('../fonts/HeliosCondC-Bold.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/HeliosCondC-Bold.woff?1450764735') format('woff'), url('../fonts/HeliosCondC-Bold.ttf?1450764735') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HeliosLightC";
  src: url('../fonts/HeliosLightC.eot?1450764735');
  src: url('../fonts/HeliosLightC.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/HeliosLightC.woff?1450764735') format('woff'), url('../fonts/HeliosLightC.ttf?1450764735') format('truetype');
}
@font-face {
  font-family: "Pobeda";
  src: url('../fonts/Pobeda-Regular.eot?1450764735');
  src: url('../fonts/Pobeda-Regular.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/Pobeda-Regular.woff?1450764735') format('woff'), url('../fonts/Pobeda-Regular.ttf?1450764735') format('truetype');
}
@font-face {
  font-family: "Pobeda";
  src: url('../fonts/Pobeda-Bold.eot?1450764735');
  src: url('../fonts/Pobeda-Bold.eot?&1450764735#iefix') format('embedded-opentype'), url('../fonts/Pobeda-Bold.woff?1450764735') format('woff'), url('../fonts/Pobeda-Bold.ttf?1450764735') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.about__container, .clients__container, .contacts__container, .industries__container, .navbar__container, .subscribe__container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}
.about__container:after, .clients__container:after, .contacts__container:after, .industries__container:after, .navbar__container:after, .subscribe__container:after {
  content: " ";
  display: block;
  clear: both;
}

.about {
  padding-bottom: 60px;
  background: #04ade4;
  color: #fff;
  text-align: center;
}
.about__title {
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 46px;
  color: #fff;
  padding: 52px 0 36px;
  letter-spacing: 0.02em;
}
.about__content {
  max-width: 90%;
  margin: 0 auto 8px;
}
.about__text {
  font-family: "HeliosC", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
.about__list {
  margin-top: 8px;
  list-style-type: none;
}
.about__item {
  max-width: 320px;
  margin: 0 25px 40px;
  display: inline-block;
  vertical-align: top;
}
.about__icon {
  display: inline-block;
  vertical-align: top;
}
.about__icon--service {
  position: relative;
  top: 10px;
}
.about__descr {
  display: inline-block;
  vertical-align: top;
  max-width: 225px;
  margin-left: 15px;
  padding-left: 15px;
  border-left: solid 2px #4f4f4f;
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  text-align: left;
}
.about__descr--shield {
  position: relative;
  left: 10px;
}
.about__descr--lorry {
  position: relative;
  left: 15px;
}
.about__descr--man {
  font-size: 26px;
}
.about__descr--service {
  font-size: 36px;
}

.about__icon--lamp {
  background: url('../images/generated/icons-s2c3c7dced9.png') -78px -155px no-repeat;
  width: 55px;
  height: 56px;
}

.about__icon--shield {
  background: url('../images/generated/icons-s2c3c7dced9.png') 0 0 no-repeat;
  width: 43px;
  height: 51px;
}

.about__icon--lorry {
  background: url('../images/generated/icons-s2c3c7dced9.png') -136px 0 no-repeat;
  width: 68px;
  height: 53px;
}

.about__icon--man {
  background: url('../images/generated/icons-s2c3c7dced9.png') -165px -211px no-repeat;
  width: 55px;
  height: 60px;
}

.about__icon--service {
  background: url('../images/generated/icons-s2c3c7dced9.png') -84px 0 no-repeat;
  width: 52px;
  height: 52px;
}

.about__icon--master {
  background: url('../images/generated/icons-s2c3c7dced9.png') -133px -155px no-repeat;
  width: 72px;
  height: 55px;
}

.clients {
  padding: 50px 0 70px;
  background: #e0e0e0;
  text-align: center;
}
.clients__title {
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 46px;
  color: #2e2e2e;
  margin-bottom: 75px;
  letter-spacing: 0.02em;
}
.clients__list {
  display: inline-block;
}
.clients__item {
  width: 240px;
  margin: 15px 0 50px;
  display: inline-block;
  vertical-align: middle;
}
.clients__link {
  display: inline-block;
  text-decoration: none;
}

.clients__link--mts {
  background: url('../images/generated/icons-s2c3c7dced9.png') 0 -530px no-repeat;
  width: 146px;
  height: 78px;
}

.clients__link--vega {
  background: url('../images/generated/icons-s2c3c7dced9.png') 0 -271px no-repeat;
  width: 181px;
  height: 59px;
}

.clients__link--reikartz {
  background: url('../images/generated/icons-s2c3c7dced9.png') -96px -772px no-repeat;
  width: 102px;
  height: 108px;
}

.clients__link--atb {
  background: url('../images/generated/icons-s2c3c7dced9.png') 0 -772px no-repeat;
  width: 96px;
  height: 96px;
}

.clients__link--uz {
  background: url('../images/generated/icons-s2c3c7dced9.png') 0 -608px no-repeat;
  width: 181px;
  height: 82px;
}

.clients__link--eva {
  background: url('../images/generated/icons-s2c3c7dced9.png') 0 -690px no-repeat;
  width: 137px;
  height: 82px;
}

.clients__link--prostor {
  background: url('../images/generated/icons-s2c3c7dced9.png') 0 -401px no-repeat;
  width: 179px;
  height: 64px;
}

.clients__link--brusnichka {
  background: url('../images/generated/icons-s2c3c7dced9.png') 0 -109px no-repeat;
  width: 178px;
  height: 46px;
}

.clients__link--abk {
  background: url('../images/generated/icons-s2c3c7dced9.png') 0 -465px no-repeat;
  width: 135px;
  height: 65px;
}

.clients__link--garvis {
  background: url('../images/generated/icons-s2c3c7dced9.png') 0 -64px no-repeat;
  width: 222px;
  height: 45px;
}

.contacts {
  padding: 60px 0 120px;
  background: #404040;
}
.contacts__title {
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 46px;
  color: #fff;
  margin-bottom: 75px;
  letter-spacing: 0.02em;
  text-align: center;
}
.contacts__left {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.25%;
  float: left;
  padding-left: 0.625%;
  padding-right: 0.625%;
}
.contacts__right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 68.75%;
  float: right;
  padding-left: 0.625%;
  padding-right: 0.625%;
}
.contacts__map {
  position: relative;
  padding-bottom: 58%;
  height: 0;
  overflow: hidden;
}
.contacts__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.contacts__card {
  margin-bottom: 50px;
  max-width: 310px;
  padding-left: 15px;
  border-left: solid 2px #04ade4;
  color: #fff;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.contacts__card--last {
  margin-bottom: 0;
}
.contacts__tel {
  font-weight: bold;
}
.contacts__bottom {
  padding-top: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.25%;
  float: left;
  padding-left: 0.625%;
  padding-right: 0.625%;
}
.contacts__eshop {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  color: #fff;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 19px;
  text-decoration: none;
  border-bottom: solid 1px #fff;
  letter-spacing: 0.03em;
}
.contacts__eshop > b {
  position: relative;
  top: -1px;
  color: #04ade4;
  border-bottom: solid 1px #04ade4;
}
.contacts__eshop:hover {
  color: #04ade4;
  border-bottom: solid 1px #04ade4;
}
.contacts__social {
  padding-top: 43px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 68.75%;
  float: right;
  padding-left: 0.625%;
  padding-right: 0.625%;
}
.contacts__sochead {
  display: inline-block;
  margin-right: 10px;
  padding-left: 10px;
  vertical-align: top;
  border-left: solid 15px #04ade4;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #fff;
  line-height: 2;
  letter-spacing: 0.02em;
}
.contacts__link {
  display: inline-block;
  margin: 0 18px;
  text-decoration: none;
}
.contacts__link:hover {
  opacity: 0.9;
}
.contacts__link--facebook {
  background: url('../images/generated/icons-s2c3c7dced9.png') 0 -211px no-repeat;
  width: 40px;
  height: 39px;
}
.contacts__link--vkontakte {
  background: url('../images/generated/icons-s2c3c7dced9.png') 0 -155px no-repeat;
  width: 39px;
  height: 39px;
}
.contacts__link--google {
  background: url('../images/generated/icons-s2c3c7dced9.png') -39px -155px no-repeat;
  width: 39px;
  height: 39px;
}

.industries {
  padding: 50px 0 60px 0;
  text-align: center;
}
.industries__title {
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 46px;
  color: #2e2e2e;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
}
.industries__list {
  list-style-type: none;
  text-align: center;
}
.industries__item {
  width: 310px;
  margin: 0 0 12px;
  display: inline-block;
  vertical-align: top;
}
.industries__link {
  display: block;
  padding: 20px 0;
  text-decoration: none;
}
.industries__link:hover {
  background: #edecec;
}
.industries__disc {
  display: inline-block;
  text-align: center;
  margin-bottom: 12px;
  width: 131px;
  height: 131px;
  line-height: 131px;
  border-radius: 50%;
}
.industries__disc--turbine {
  background: #f44236;
}
.industries__disc--condition {
  background: #019587;
}
.industries__disc--collector {
  background: #ff9700;
}
.industries__disc--appliance {
  background: #bac927;
}
.industries__disc--radiator {
  background: #4baf4f;
}
.industries__disc--convector {
  background: #6739b6;
}
.industries__disc--tv {
  background: #04ade4;
}
.industries__disc--builtin {
  background: #bb3baa;
}
.industries__icon {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.industries__icon--collector {
  position: relative;
  top: -5px;
}
.industries__itemname {
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #2e2e2e;
  max-width: 250px;
  margin: 0 auto;
}
.industries__itemname--builtin {
  max-width: 220px;
}
.industries__descr {
  max-width: 210px;
  margin: 8px auto 0;
  padding-top: 12px;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.1;
  color: #656565;
}
.industries__descr--turbine {
  border-top: solid 2px #f44236;
}
.industries__descr--condition {
  border-top: solid 2px #019587;
}
.industries__descr--collector {
  border-top: solid 2px #ff9700;
}
.industries__descr--appliance {
  border-top: solid 2px #bac927;
}
.industries__descr--radiator {
  border-top: solid 2px #4baf4f;
}
.industries__descr--convector {
  border-top: solid 2px #6739b6;
}
.industries__descr--tv {
  border-top: solid 2px #04ade4;
}
.industries__descr--builtin {
  border-top: solid 2px #bb3baa;
}

.industries__icon--turbine {
  background: url('../images/generated/icons-s2c3c7dced9.png') -137px -690px no-repeat;
  width: 60px;
  height: 60px;
}

.industries__icon--condition {
  background: url('../images/generated/icons-s2c3c7dced9.png') -64px -330px no-repeat;
  width: 68px;
  height: 68px;
}

.industries__icon--collector {
  background: url('../images/generated/icons-s2c3c7dced9.png') -132px -330px no-repeat;
  width: 71px;
  height: 71px;
}

.industries__icon--appliance {
  background: url('../images/generated/icons-s2c3c7dced9.png') -113px -211px no-repeat;
  width: 52px;
  height: 59px;
}

.industries__icon--radiator {
  background: url('../images/generated/icons-s2c3c7dced9.png') -135px -465px no-repeat;
  width: 54px;
  height: 63px;
}

.industries__icon--convector {
  background: url('../images/generated/icons-s2c3c7dced9.png') -43px 0 no-repeat;
  width: 41px;
  height: 64px;
}

.industries__icon--tv {
  background: url('../images/generated/icons-s2c3c7dced9.png') -40px -211px no-repeat;
  width: 73px;
  height: 55px;
}

.industries__icon--builtin {
  background: url('../images/generated/icons-s2c3c7dced9.png') 0 -330px no-repeat;
  width: 64px;
  height: 64px;
}

.jqmWindow {
  display: none;
  left: 50%;
  top: 20%;
  position: fixed;
}
.jqmWindow .jqmContentWrapper {
  background-color: #fff;
  padding: 10px;
  position: relative;
  left: -50%;
}
.jqmWindow .jqmContentWrapper > .jqmClose {
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  z-index: 100;
  top: 2px;
  right: 2px;
  background: url('../images/generated/icons-s2c3c7dced9.png') -178px -109px no-repeat;
  width: 12px;
  height: 12px;
}

.jqmOverlay {
  background-color: #000;
}

.jqmContent {
  position: relative;
  z-index: 1;
}

#popup-messages .messages--status {
  background: none;
}
#popup-messages .messages {
  margin: 0;
  padding: 30px;
  border: none;
  color: #555454;
  font-family: "HeliosC", Helvetica, Arial, sans-serif;
  font-size: 21px;
  text-align: center;
  line-height: 1.5;
}
#popup-messages .messages a {
  margin-top: 10px;
  color: #04ade4;
  font-size: 16px;
}
#popup-messages .messages a:hover {
  color: #0387b2;
}

.modal {
  padding: 40px;
  max-width: 760px;
}
.modal .form-item {
  display: inline-block;
  margin: 20px;
}
.modal .form-actions {
  display: inline-block;
}
.modal .form-text {
  max-width: 295px;
  padding: 9px 9px 9px 15px;
  border-radius: 5px;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 20px;
  border: solid 1px #c7c7c7;
}
.modal .form-text:-moz-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-text::-moz-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-text:-ms-input-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-text::-webkit-input-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-textarea {
  max-width: 295px;
  padding: 9px 9px 9px 15px;
  border-radius: 5px;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 20px;
  border: solid 1px #c7c7c7;
}
.modal .form-textarea:-moz-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-textarea::-moz-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-textarea:-ms-input-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-textarea::-webkit-input-placeholder {
  color: #04ade4;
  font-style: italic;
}
.modal .form-submit {
  width: 295px;
  margin: 20px;
  padding: 9px 0;
  background: #fe7646;
  color: #fff;
  font-family: "HeliosLightC", Helvetica, Arial, sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 5px;
}
.modal .form-submit:hover {
  background: #fe5013;
}

.webform-client-form-12 .webform-component--message {
  float: right;
}
.webform-client-form-12 .webform-component--email {
  float: left;
}
.webform-client-form-12 .form-actions {
  float: right;
}

.navbar {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 72px;
  background: #343434;
}
.navbar__logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../images/logo.png?1450764735');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  float: left;
  margin: 24px 50px 24px 0;
  width: 146px;
  height: 25px;
}
.navbar__nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 56.25%;
  float: left;
  list-style-type: none;
}
.navbar__item {
  float: left;
  margin: 0 25px;
  padding: 28px 0;
  text-align: center;
}
.navbar__item:last-child {
  margin-right: 0;
}
.navbar__link {
  color: #fff;
  font-family: "HeliosLightC", Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.navbar__link:hover {
  color: #04ade4;
  text-decoration: underline;
}
.navbar__feedback {
  float: right;
  margin-right: 48px;
  padding: 30px 0 28px 0;
  color: #04ade4;
  font-family: "HeliosC", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.navbar__feedback:hover {
  text-decoration: underline;
}
.navbar__subscribe {
  float: right;
  padding: 28px 20px;
  background: #04ade4;
  color: #fff;
  font-family: "HeliosLightC", Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar__subscribe:hover {
  text-decoration: underline;
}

.objects {
  text-align: center;
  padding: 56px 0 155px;
}
.objects__title {
  font-family: "Pobeda", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 46px;
  color: #2e2e2e;
  letter-spacing: 0.02em;
}
.objects__content {
  padding-top: 65px;
}

.view-objects .views-row {
  display: inline-block;
  position: relative;
  margin: 5px 0 5px 0.5%;
}
.view-objects .views-field-body {
  position: absolute;
  bottom: 0;
  max-width: 78%;
  min-height: 110px;
  padding: 15px 5px 15px 10px;
  background: #2b2b2b;
  color: #fff;
  text-align: left;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.25;
}
.view-objects .views-row-1 .views-field-body {
  border-right: solid 32px #4baf4f;
}
.view-objects .views-row-2 .views-field-body {
  border-right: solid 32px #019587;
}
.view-objects .views-row-3 .views-field-body {
  border-right: solid 32px #bac927;
}
.view-objects .views-row-4 .views-field-body {
  border-right: solid 32px #f44236;
}
.view-objects .views-row-5 .views-field-body {
  border-right: solid 32px #6739b6;
}
.view-objects .views-row-6 .views-field-body {
  border-right: solid 32px #ff9700;
}
.view-objects img {
  vertical-align: top;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.view-slider {
  position: relative;
  animation: fadein 2s;
}
.view-slider .views-field-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slider {
  width: 100%;
  height: 688px;
  background-repeat: no-repeat;
  background-position: center top;
}
.slider__container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: relative;
}
.slider__container:after {
  content: " ";
  display: block;
  clear: both;
}
.slider__logo {
  background: url('../images/logo-white.png?1450765282') no-repeat;
  width: 351px;
  height: 61px;
  position: absolute;
}
.views-row-1 .slider__logo {
  right: 60px;
  bottom: 60px;
}
.views-row-2 .slider__logo {
  top: 300px;
  left: 20px;
}
.views-row-3 .slider__logo {
  bottom: 100px;
}

.views_slideshow_slide {
  right: 0;
}

.views_slideshow_cycle_main {
  width: 100%;
}

.views-slideshow-controls-bottom {
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
  z-index: 200;
}

.views-slideshow-controls-text-pause {
  display: none;
}

.views-slideshow-controls-text-previous a, .views-slideshow-controls-text-next a {
  display: block;
  width: 76px;
  height: 76px;
}

.views-slideshow-controls-text-previous {
  position: absolute;
  top: 0;
  left: 20px;
}
.views-slideshow-controls-text-previous a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../images/prev.png?1441543001');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.views-slideshow-controls-text-next {
  position: absolute;
  top: 0;
  right: 20px;
}
.views-slideshow-controls-text-next a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../images/next.png?1441542781');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.subscribe {
  overflow: hidden;
  background: #04ade4;
  color: #fff;
}
.subscribe__left {
  width: 33.33333%;
  float: left;
  text-align: right;
  padding: 35px 35px 0 0;
}
.subscribe__form {
  width: 66.66667%;
  float: right;
  padding: 40px 0 36px 90px;
}
.subscribe__title {
  max-width: 300px;
  margin-bottom: 18px;
  margin-left: auto;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #4f4f4f;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.subscribe__text {
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #fff;
}
.subscribe .form-item {
  display: inline-block;
  margin-right: 50px;
}
.subscribe .form-actions {
  display: inline-block;
}
.subscribe .form-text {
  max-width: 295px;
  margin-bottom: 8px;
  padding: 10px 10px 10px 15px;
  border-radius: 5px;
  font-family: "HeliosCondC", Helvetica, Arial, sans-serif;
  font-size: 20px;
}
.subscribe .form-text:-moz-placeholder {
  color: #04ade4;
  font-style: italic;
}
.subscribe .form-text::-moz-placeholder {
  color: #04ade4;
  font-style: italic;
}
.subscribe .form-text:-ms-input-placeholder {
  color: #04ade4;
  font-style: italic;
}
.subscribe .form-text::-webkit-input-placeholder {
  color: #04ade4;
  font-style: italic;
}
.subscribe .form-submit {
  width: 295px;
  padding: 9px 0;
  background: #fe7646;
  color: #fff;
  font-family: "HeliosLightC", Helvetica, Arial, sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 5px;
}
.subscribe .form-submit:hover {
  background: #fe5013;
}
